<form action="http://uni1.ogame.us/game/index.php?page=minifleet&ajax=1" method="post"
onload="$('#token_text').focus">

  <input type="hidden" name="mission" value="6" />
  <br/>
  <input type="hidden" name="galaxy" value="<%=params['galaxy']%>" />
  <br/>
  <input type="hidden" name="system" value="<%=params['system']%>" />
  <br/>
  <input type="hidden" name="position" value="<%=params['position']%>" />
  <br/>
  <input type="hidden" name="type" value="1" />
  <br/>
  <input type="hidden" name="shipCount" value="11" />
  <br/>
  토큰 : <input id="token_text" type="text" name="token" value="" />
  <br/>
  <input type="submit" value="정찰보내기"/>

</form>